<div class="container">
  <div class="py-5 text-center">
    <h2>
      <i class="fa fa-music mr-2"></i> Music progress</h2>
    <!-- <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state
      that can be triggered by attempting to submit the form without completing it.</p> -->
  </div>

  <div class="row">
    <div class="col-12">

      <div class="row mb-5">
        <div class="col-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Dodaj ćwiczenie</h5>
              <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->

              <div class="row mb-2">
                <div class="col-md-4">
                  <label for="exName">Nazwa ćwiczenia</label>
                  <input type="text"
                         class="form-control"
                         id="exName"
                         placeholder="Ćwiczenie 01"
                         [(ngModel)]="newExerciseModel.name">

                </div>
                <div class="col-md-4">
                  <label for="exRepCount">Powtórzenia</label>
                  <input type="text"
                         class="form-control"
                         id="exRepCount"
                         placeholder="20"
                         [(ngModel)]="newExerciseModel.repCount"
                         disabled>
                </div>

                <div class="col-md-4">
                  <label for="exDuration">Czas powtórki (sekundy)</label>
                  <input type="number"
                         class="form-control"
                         id="exDuration"
                         [(ngModel)]="newExerciseModel.repDuration"
                         required="">
                </div>
              </div>

              <a href="#"
                 class="card-link"
                 (click)="addExercise()">
                <i class="fa fa-plus mr-1"></i>Dodaj</a>

            </div>
          </div>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa ćwiczenia</th>
            <th scope="col">Czas trwania powtórzenia</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ex of exerciseTable; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{ex.name}}</td>
            <td>{{ex.repDuration}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2018 Music progress for students</p>
  </footer>
</div>